body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-color {
    background-color:#ff3399 !important;
}
.banner {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../image/banner.jpg');
    background-size: cover;
    background-position: center;
}
.hovered-card {
    transition: .5s;
}
.hovered-card:hover{
    transform: scale(1.1);
    margin: 5;
}
.icon-services {
    width: 90px;
    height: 90px;
    border: solid;
    border-radius: 100%;
    color: rgb(0, 0, 0);
}
.content-subcribe{
    background-color: rgba(58, 56, 56, 0.904);
}
.banner-produk {
    height: 55vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../image/banner.jpg');
    background-size: cover;
    background-position: center;
}
.ttx{
    text-decoration: none;
}
.clr-produk{
    background-color: blanchedalmond;
}
.banner-promo {
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../image/banner.jpg');
    background-size: cover;
    background-position: center;
}